.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav{
  background-color: black;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.nav > a{
  text-decoration: none;
}

.labels{
  background-color: rgb(185, 185, 185);
  padding: 4px;
  border-radius: 8px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.eventForm{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.formCreate{
    display: flex;
    margin-top: 10px;
}

.button{
  background-color: #b00b69;
  color: white;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
}

.dateInfoForm{
  display: flex;
  flex-direction: row;
}

.imageShow{
  max-width: 500px;
  border: solid 4px #b00b69;
}

.content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.indexInfoDiv{
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
}

.events{
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 400px;
  margin-top: 20px;
  background-color: rgb(230, 230, 230);
}

.indexInfo{
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
}

.indexInfoImage{
  width: 200px;
  height: 150px;
  border: 1px solid black
}

.indexInfoDesc{
  border-radius: 8px;
}

.headerLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 5px;
}

.login{
  padding-right: 10px;
  color: white;
  text-decoration: underline;
}

.hidden{
  display: none;
}

.attendanceText{
  text-align: center;
}

.title{
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-style: italic;
  padding-left: 5px;
}

.signup{
  color: white;
  text-decoration: underline;}

.logout{
  color: white;
  text-decoration: underline;
  padding-left: 5px;
}

.authBox{
  display: flex;
  justify-content: center;
  background-color: white;
}

.loginBox{
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: solid black 2px;
  padding: 20px;

}

.loginButton{
  background-color: #b00b69;
  width: 100px;
  height: 30px;
  color: white;
}

.searchBar{
  border-radius: 10px;
  width: 100px;
}

.loginWelcome{
  margin-top: 100px;
}

.indexHeader{
  text-align: left;
  align-content: left;
}

.browseEvents{
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SIGNUP FORM */
#inputSignup {
  padding: 5px;
  margin: 8px;
}

#errorMsg {
  color: red;
  font-size: 20px;
  border: 2px;
  border-style: double;
  
}